on:
  pull_request:
    branches:
    - main

permissions:
      id-token: write
      contents: read
jobs:
  build:
    runs-on: windows-latest
    steps:

    - uses: actions/checkout@v3
# Installs Node and the npm packages saved in your package.json file in the build
    - name: Setup Node.js environment
      uses: actions/setup-node@v3.4.1
      with:
        node-version: 18.x

    - name: install ADF Utilities package
      run: npm install
      working-directory: ${{github.workspace}}/build  #
 
# Validates all of the Data Factory resources in the repository.
    - name: Validate
      run: npm run build validate ${{github.workspace}}/ /subscriptions/${{ secrets.AZURE_SUBSCRIPTION_ID }}/resourceGroups/${{ secrets.AZURE_DATAFACTORY_RESOURCEGROUP }}/providers/Microsoft.DataFactory/factories/adfadbdev001
      working-directory: ${{github.workspace}}/build
 
    - name: Validate and Generate ARM template
      run: npm run build export ${{github.workspace}}/ /subscriptions/${{ secrets.AZURE_SUBSCRIPTION_ID }}/resourceGroups/${{ secrets.AZURE_DATAFACTORY_RESOURCEGROUP }}/providers/Microsoft.DataFactory/factories/adfadbdev001 "ExportedArmTemplate" 
      working-directory: ${{github.workspace}}/build
   
# In order to leverage the artifact in another job, we need to upload it with the upload action 
    - name: upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: ExportedArmTemplate # (4) use the same artifact name you used in the previous export step
        path: ${{github.workspace}}/build/ExportedArmTemplate

  release:
    needs: build
    runs-on: windows-latest
    steps:

    - name: Check Out
      uses: actions/checkout@v3
    
 # Download the previously uploaded artifact to leverage it later in the release job     
    - name: Download a Build Artifact
      uses: actions/download-artifact@v3.0.2
      with:
        name: ExportedArmTemplate # (5) Artifact name 

    - name: Login via Az module
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        enable-AzPSSession: true 
      
    - name: Run Pre-deployment script adfadbdev001-live
      uses: Azure/powershell@v1.4.0
      with:
        inlineScript: ./scripts/PrePostDeploymentScript.ps1 -armTemplate "./ARMTemplateForFactory.json" -ResourceGroupName "${{ secrets.AZURE_DATAFACTORY_RESOURCEGROUP }}" -DataFactoryName "adfadbdev001" -predeployment $true -deleteDeployment $false
        azPSVersion: "latest"

    - name: Run ARM deploy adfadbdev001-live
      uses: azure/arm-deploy@v1
      with:
        resourceGroupName: ${{ secrets.AZURE_DATAFACTORY_RESOURCEGROUP }}
        template: ARMTemplateForFactory.json
        parameters: ARMTemplateParametersForFactory.json factoryName=adfadbdev001
        
    - name: Run Post-deployment script adfadbdev001-live
      uses: Azure/powershell@v1.4.0
      with:
        inlineScript: ./scripts/PrePostDeploymentScript.ps1 -ResourceGroupName "${{ secrets.AZURE_DATAFACTORY_RESOURCEGROUP }}" -armTemplate "./ARMTemplateForFactory.json" -DataFactoryName 'adfadbdev001' -predeployment $false -deleteDeployment $true
        azPSVersion: "latest"
